In [1]:
from CCDPApy.helper import input_path
from CCDPApy import FedBatchParameters, FedBatchCellLine, FedBatchExpriment, FedBatchCellCulture

import pandas as pd
pd.set_option('display.max_columns', 200)

In [2]:
merk = FedBatchCellCulture()
path = input_path('Merk_Data.xlsx')
merk.load_data(file=path)
merk_data = merk.get_pre_process_data()
merk.get_cell_line_names()

['Merk']

In [3]:
cell_line = FedBatchCellLine(cell_line_name='Merk', data=merk_data)
cl_data = cell_line.get_pre_process_data()
cell_line.get_experiment_names()

['327595',
 '190269',
 '325390',
 '326391',
 'A3',
 'B2',
 'C1',
 'C3',
 'C3-2',
 'D3',
 'B4',
 'D4',
 'A1',
 'A1-2',
 'C3-3']

In [4]:
exp = FedBatchExpriment(cell_line_name='Merk', cell_line_id='C3',
                        data=cl_data, use_conc_after_feed=False, use_feed_conc=False)
exp.in_process()
exp.polynomial()
exp.rolling_window_polynomial()
glc = exp.get_species('glucose')
glc.sp_rate_poly

,Run Time (day),Run Time (hr),value,unit,method,degree
0,0,0.000000,NaN,(mmol/10^9 cells/hr),polynomial,3
1,1,45.666667,0.063382,(mmol/10^9 cells/hr),polynomial,3
2,2,70.833056,0.145809,(mmol/10^9 cells/hr),polynomial,3
3,3,93.666667,0.122933,(mmol/10^9 cells/hr),polynomial,3
4,4,116.666667,0.102956,(mmol/10^9 cells/hr),polynomial,3
5,5,141.000000,0.082155,(mmol/10^9 cells/hr),polynomial,3
6,6,167.000000,0.061245,(mmol/10^9 cells/hr),polynomial,3
7,7,190.833056,0.037088,(mmol/10^9 cells/hr),polynomial,3
8,8,214.250000,0.038859,(mmol/10^9 cells/hr),polynomial,3
9,9,239.000000,0.037766,(mmol/10^9 cells/hr),polynomial,3
10,10,262.166667,0.03851,(mmol/10^9 cells/hr),polynomial,3
11,11,286.500000,0.037988,(mmol/10^9 cells/hr),polynomial,3
12,12,310.166667,0.037736,(mmol/10^9 cells/hr),polynomial,3
13,13,333.500000,0.042197,(mmol/10^9 cells/hr),polynomial,3

In [5]:
glc.sp_rate_rolling

,Run Time (day),Run Time (hr),value,unit,method,degree,window
0,1.0,35.416528,0.195692,(mmol/10^9 cells/hr),rollingWindowPolynomial,3,6
1,2.5,82.249861,0.002941,(mmol/10^9 cells/hr),rollingWindowPolynomial,3,6
2,3.5,105.166667,0.024424,(mmol/10^9 cells/hr),rollingWindowPolynomial,3,6
3,4.5,128.833333,0.047060,(mmol/10^9 cells/hr),rollingWindowPolynomial,3,6
4,5.5,154.000000,0.064372,(mmol/10^9 cells/hr),rollingWindowPolynomial,3,6
5,6.5,178.916528,0.054780,(mmol/10^9 cells/hr),rollingWindowPolynomial,3,6
6,7.5,202.541528,0.044272,(mmol/10^9 cells/hr),rollingWindowPolynomial,3,6
7,8.5,226.625000,0.048118,(mmol/10^9 cells/hr),rollingWindowPolynomial,3,6
8,9.5,250.583333,0.044256,(mmol/10^9 cells/hr),rollingWindowPolynomial,3,6
9,10.5,274.333333,0.038485,(mmol/10^9 cells/hr),rollingWindowPolynomial,3,6
10,11.5,298.333333,0.029835,(mmol/10^9 cells/hr),rollingWindowPolynomial,3,6
11,12.5,321.833333,0.024380,(mmol/10^9 cells/hr),rollingWindowPolynomial,3,6

In [6]:
glc._poly_func

poly1d([-3.00681350e-06,  2.94012977e-03, -2.07951678e-01,  3.55120501e+00])

In [7]:
glc._poly_degree

3

In [11]:
glc.measured_cumulative_conc

                   value  unit     state
Glucose (mM)
0               0.000000  (mM)  Consumed
1                    NaN  (mM)  Consumed
2              10.462922  (mM)  Consumed
3              12.515351  (mM)  Consumed
4              15.067402  (mM)  Consumed
5              16.541175  (mM)  Consumed
6              32.104500  (mM)  Consumed
7              45.156942  (mM)  Consumed
8              63.310189  (mM)  Consumed
9              82.800056  (mM)  Consumed
10            102.334023  (mM)  Consumed
11            119.581579  (mM)  Consumed
12            133.532334  (mM)  Consumed
13            144.211281  (mM)  Consumed

In [12]:
parameter = FedBatchParameters(cell_line_name='Merk',
                             use_concentration_after_feed=False,
                             use_feed_concentration=False,
                             regression_method=['polynomial', 'rolling_window_polynomial'],
                             rolling_polynomial_degree=3,
                             rolling_polynomial_window=6)
parameter

Cell Line: Merk
Feed concentration will be used: False
Concentration after feeding will be used: False
Regression Methods
     Polynomial: True
     Rolling window polynomial True

In [13]:
merk.perform_data_process(parameters=parameter)

In [14]:
merk.save_excel(file_name='merk_data_output.xlsx')

merk_data_output.xlsx  saved.

In [15]:
data = merk.get_metabolite_data()
data.keys()

dict_keys(['conc', 'cumulative', 'sp_rate'])

In [16]:
sp_rate = data['sp_rate']
sp_rate[sp_rate['species']=='Lactate']

,Run Time (day),Run Time (hr),value,unit,method,species,ID,degree,window,Cell Line
30,0.0,0.000000,NaN,(mmol/10^9 cells/hr),twoPoint,Lactate,327595,NaN,NaN,Merk
31,1.0,32.100000,NaN,(mmol/10^9 cells/hr),twoPoint,Lactate,327595,NaN,NaN,Merk
32,2.0,59.100000,NaN,(mmol/10^9 cells/hr),twoPoint,Lactate,327595,NaN,NaN,Merk
33,3.0,81.000000,NaN,(mmol/10^9 cells/hr),twoPoint,Lactate,327595,NaN,NaN,Merk
34,4.0,106.600000,NaN,(mmol/10^9 cells/hr),twoPoint,Lactate,327595,NaN,NaN,Merk
...,...,...,...,...,...,...,...,...,...,...
119,9.5,229.733333,-0.013751,(mmol/10^9 cells/hr),rollingWindowPolynomial,Lactate,C3-3,3.0,6.0,Merk
120,10.0,252.233333,-0.006577,(mmol/10^9 cells/hr),rollingWindowPolynomial,Lactate,C3-3,3.0,6.0,Merk
121,10.5,275.566528,-0.002768,(mmol/10^9 cells/hr),rollingWindowPolynomial,Lactate,C3-3,3.0,6.0,Merk
122,11.5,298.899861,0.000058,(mmol/10^9 cells/hr),rollingWindowPolynomial,Lactate,C3-3,3.0,6.0,Merk
123,12.5,321.733333,0.002913,(mmol/10^9 cells/hr),rollingWindowPolynomial,Lactate,C3-3,3.0,6.0,Merk