In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 300)

In [8]:
file = '/Users/galileo/development/Reserch/UMN_Research/CCDPA_git/CCDPApy/input_files/perfusion_temp.xlsx'
df = pd.read_excel(file)

In [9]:
df.head()

,Description,Unnamed: 1,Unnamed: 2,Experimental Data,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Product Concentration,Concentration Before Feeding,Unnamed: 24,Unnamed: 25,Unnamed: 26,Concentration After Feeding,Unnamed: 28,Unnamed: 29,Unnamed: 30,FEED Concentration,Unnamed: 32,Unnamed: 33,Unnamed: 34,Calculated Cumulative Consumption/Production,Unnamed: 36,Unnamed: 37,Unnamed: 38
0,Cell Line,Experimental ID,Name,Sample #,Date,Time,Initial Volume (mL),Sample Volume (mL),Volume After Sampling (mL),Feed Media Added (mL),Base Added (mL),Viable Cell Concentration (106 cells/ml),Dead Cell Concentration (106 cells/ml),Total Cell Concentration (106 cells/ml),Viability (%),pH,DO (%),OUR (mmol/L/hr),SP. Oxygen consumption rate (mmol/10^9 cells/hr),Oxygen Consumed (mmol/L),Optical Dencity,Osmolality (mmol/kg),IgG (mg/L),Glucose (mg/ml),Lactate (mg/ml),Glutamine (mmol/l),Ammonia (mmol/l),Glucose (mg/ml),Lactate (mg/ml),Glutamine (mmol/l),Ammonia (mmol/l),Glucose (mg/ml),Lactate (mg/ml),Glutamine (mmol/l),Ammonia (mmol/l),Glucose (mg/ml),Lactate (mg/ml),Glutamine (mmol/l),Ammonia (mmol/l)
1,Sample Perfusion,Sample Perfusion 1,perfusion,0,NaN,0,NaN,NaN,NaN,0,NaN,0.362128,0,0.362128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.459119,0,6,0,NaN,NaN,NaN,NaN,3.45,NaN,5.5,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,1,NaN,10,NaN,NaN,NaN,0,NaN,0.610138,0.040998,0.610138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.18239,0.327044,5.846261,0.130818,NaN,NaN,NaN,NaN,3.45,NaN,5.5,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,2,NaN,20,NaN,NaN,NaN,0,NaN,0.992864,0.012864,0.992864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.716981,0.805031,5.587701,0.322013,NaN,NaN,NaN,NaN,3.45,NaN,5.5,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,3,NaN,25,NaN,NaN,NaN,0,NaN,1.1,0.02,1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.5,1,5.467156,0.4,NaN,NaN,NaN,NaN,3.45,NaN,5.5,NaN,NaN,NaN,NaN,NaN

In [12]:
columns = ['Experimental Data', 
           'Product Concentration', 
           'Concentration Before Feeding',
           'Concentration After Feeding',
           'Feed Concentration']
indices = [i for i, s in enumerate(df.columns) if s in columns]
indices

[3, 22, 23, 27]

In [15]:
df.iloc[:, :indices[0]].head()

        Description          Unnamed: 1 Unnamed: 2
0         Cell Line     Experimental ID       Name
1  Sample Perfusion  Sample Perfusion 1  perfusion
2               NaN                 NaN        NaN
3               NaN                 NaN        NaN
4               NaN                 NaN        NaN

In [18]:
df.iloc[:, indices[0]:indices[1]].head()

,Experimental Data,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,Sample #,Date,Time,Initial Volume (mL),Sample Volume (mL),Volume After Sampling (mL),Feed Media Added (mL),Base Added (mL),Viable Cell Concentration (106 cells/ml),Dead Cell Concentration (106 cells/ml),Total Cell Concentration (106 cells/ml),Viability (%),pH,DO (%),OUR (mmol/L/hr),SP. Oxygen consumption rate (mmol/10^9 cells/hr),Oxygen Consumed (mmol/L),Optical Dencity,Osmolality (mmol/kg)
1,0,NaN,0,NaN,NaN,NaN,0,NaN,0.362128,0,0.362128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,NaN,10,NaN,NaN,NaN,0,NaN,0.610138,0.040998,0.610138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,NaN,20,NaN,NaN,NaN,0,NaN,0.992864,0.012864,0.992864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,NaN,25,NaN,NaN,NaN,0,NaN,1.1,0.02,1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN